#home-image{
    display: inline;
    float: left;
    width: 48%;
    height: 730px;
    object-fit: cover;
    object-position: 50% 50%;
}

#home-center{
    margin: auto;
    width: 490px;
    height: 722px;
    display: inline-block;
    position: relative;
    background-color: rgb(44,141,126);
}

#home-text{
    letter-spacing: 0.15em;
    line-height: 45px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 490px;
    height: 250px;
}

#home-text i{
    font-family: Palatino Linotype;
    font-size: 28px;
    text-align: center;
    font-weight: 500;
}

#home-text p{
    font-family: "Verdana";
    font-size: 20px;
    letter-spacing: 0em;
    text-align: right;
}

.pl{
    transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;
}

.ru{
    transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;
}

#about{
    background-color: rgb(44, 141, 126);
    left: 0;
    letter-spacing: 0.05em;
    position: absolute;
    top: 490px;
    width: 100%;
}

#ania-image{
    height: 567px;
    width: 33.5%;
    min-width: 333px;
    display: inline;
    float: left;
    object-fit: cover;
    object-position: 0% 0%;
}

.about-first{
    display: inline-block;
    padding-left: 20%;
    vertical-align: top;
    width: 647px;
}

.about-second{
    margin: auto;
    width: 850px;
    clear: left;
    padding: 15px 0 0 0;
}

#about-margins{
    background-color: rgb(42,124,111);
    margin: -20px 80px 20px 80px;
    position: relative;
    top: 0;
}

#about-text{
    display: block;
    font-family: "Verdana";
    font-size: 15px;
    text-align: left;
    line-height: 1.7em;
    padding: 20px 0 50px 0;
}

#about-text h3{
    font-family: "Helvetica";
    font-size: 30px;
    padding-top: 60px;
}

#about-text p{
    font-family: "Verdana";
    font-size: 15px;
    text-align: left;
}

#services{
    margin: 10px 30px 10px 30px;
    text-align: left;
    background-color: rgb(44,141,126);
}

.single-service{
    display: inline-block;
    margin: 10px 50px 10px 0;
    text-align: center;
    vertical-align: top;
    width: 363px;
}

.service-img{
    height: 271px;
    left: -20px;
    position: relative;
    width: 288px;
    z-index: 0;
}

.service-description{
    background-color: white;
    color: rgb(44,141,126);
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.05em;
    line-height: 1.6em;
    padding: 10px;
    margin: -50px 50px 20px 50px;
    min-height: 600px;
    position: relative;
    text-align: left;
    width: 282px;
    z-index: 1;
}

.service-head{
    font-family: "Helvetica";
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

#creatures{
    display: block;
    background-color: rgb(44,141,126);
}

#creatures-image{
    border: solid 8px white;
    margin: 60px 30px 0px 30px;
    width: 550px;
}

#creatures-text{
    font-family: "Verdana";
    font-size: 0.5em;
    line-height: 180%;
    margin: auto;
    padding-bottom: 70px;
    width: 703px;
}

#creatures-text a{
    color: white;
}

#creatures-text p{
    text-align: justify;
}

#creatures-text ul li{
    text-align: left;
}

#contact{
    display: block;
    margin: 0 0 30px 0;
    height: 1150px;
}

#contact h3{
    font-size: 44px;
    font-weight: 400;
    padding: 50px 0 50px 0;
}

#contact-image{
    display: inline-block;
    height: 413px;
    object-fit: cover;
    position: absolute;
    vertical-align: top;
    width: 50%;
    left: 0;
}

#contact-text{
    background-color: rgb(44,141,126);
    font-family: "Verdana";
    font-size: 23px;
    height: 413px;
    width: 51%;
    position: absolute;
    right: 0;
}

#contact-text p{
    text-align: center;
}

#contact-text h4{
    font-size: 34px;
    font-weight: 700;
    padding: 30px 0 10px 0;
}

#contact h3{
    margin-bottom: 70px;
}

#map-image{
    border: solid 10px white;
    margin-top: 100px;
    object-fit: cover;
    vertical-align: bottom;
    height: 350px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 1150px;
}

#map-image:hover{
    outline: 4px solid orange;
    outline-offset: -4px;
}

#privacy{
    background-color: rgb(44,141,126);
    display: inline-block;
    font-family: "Verdana";
    font-size: 14px;
    line-height: 1.67em;
    padding: 20px 0 80px 0;
    text-align: left;
    width: 980px;
}

#privacy h3{
    text-align: center;
}

#privacy ol{
    margin: 0;
    padding: 0 0 0 22px;
}

#privacy p{
    margin: 0;
    padding: 20px 0 0 0;
}

@media screen and (max-width: 2100px) {
    .about-first{
        padding-left: 15%;
    }
}

@media screen and (max-width: 1600px) {
    .about-first{
        padding-left: 10%;
    }
}

@media screen and (max-width: 1350px) {
    .about-first{
        padding-left: 5%;
    }
}

@media screen and (max-width: 1220px) {
    #about{
        width: 1200px;
    }

    .about-first{
        padding-left: 0;
    }
}

@media screen and (max-width: 1100px) {
    #about-margins{
        margin-left: 25px;
    }
}


@media screen and (max-width: 980px) {
    #home{
        width: 980px;
    }
}

@media screen and (max-width: 900px) {
    #about-margins{
        margin-left: 0px;
    }
}

@media screen and (max-width: 800px) {

    .main-text{
        margin: 0 10px 0 10px;
    }

    #home{
        width: 100%;
    }

    #home-center{
        width: 98%;
        height: 400px;
    }

    #home-image{
        height: auto;
        width: 100%;
        float: none;
    }

    #home-text{
        letter-spacing: 2.2px;;
        margin: 10px 0 0 0;
        padding: 5px;
        width: 100%;
    }

    #home-text i{
        font-size: 22px;
        line-height: 0.75em;
    }

    #home-text p{
        font-size: 16px;
    }

    #about{
        position: static;
        width: 100%;
        margin-top: 30px;
    }

    #about-margins{
        margin: 0;
    }

    #ania-image{
        display: block;
        margin: auto;
        width: 200px;
        height: 270px;
        position: static;
        min-width: 150px;
        float: none;
    }

    .about-first{
        clear: left;
        display: block;
        width: 100%;
    }

    .about-second{
        clear: left;
        display: block;
        width: 100%;
    }

    #about-text{
        padding: 5px 10px 5px 10px;
        margin: -30px 0 0 10px;
    }

    #about-text p{
        font-size: 16px;
    }

    #about-text h3{
        font-size: 26px;
        padding-top: 20px;
        padding-left: 10px;
    }

    #services{
        margin: 0 2% 0 2%;
    }

    .single-service{
        width: 100%;
    }

    .service-img{
        position: relative; 
        left: 33%;
        transform: translateX(-50%);
        width: 256px;
        z-index: 2;
    }

    .service-head{
        font-size: 19px;
        padding: 0 30px 0 30px;
    }

    .service-description{
        font-size: 17px;
        padding: 60px 5px 35px 5px;
        margin: -70px 2% 0 2%;
        width: 94%;
    }

    #creatures-image{
        width: 85%;
        margin: 5px 0 0 0;
    }

    #creatures-text{
        margin: 0 5% 10px 5%;
        font-size: 17px;
        width: 90%;
    }

    #contact {
        height: 1250px;
    }

    #contact h3{
        margin: 30px 5px 30px 5px;
        font-size: 0.8em;
    }

    #contact h4{
        font-size: 32px;
        margin-bottom: 45px;
    }

    #contact-image{
        height: 200px;
        width: 100%;
    }

    #contact-text{
        height: 600px;
        font-size: 28px;
        line-height: 1.6em;;
        width: 100%;
        right: 0;
        margin-top: 200px;
    }

    #map-image{
        width: 96%;
        content: url("../media/map_scaled.png");
        top: 1050px;
    }

    #privacy{
        font-size: 16px;
        margin: 5% 5% 0 5%;
        padding-top: 5px;
        text-align: left;
        width: 90%;
    }
}
