@font-face {
    font-family: "Cookie";
    src: url(https://fonts.gstatic.com/s/cookie/v21/syky-y18lb0tSbf9kgqS.woff2) format('woff2');
}

@font-face {
    font-family: "Avenir Light";
    src: url("https://db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.eot");
    src: url("https://db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.svg#Avenir Light")format("svg");
}

body{
    width: 100%;
    background-color: rgb(42,124,111);
    color: white;
    margin: 0px;
    font-size: 2em;
}

#top{
    text-align: center;
    overflow: hidden;
    display: block;
    height: 370px;
    margin: 5px 48px 15px 48px;
}

#head-vid{
    display: block;
    margin: 15px;
    height: 354px;
    overflow: hidden;
    width: 100%;
    text-align: center;
    position: relative;
}

#head-vid > video{
    position: relative;
    width: 100%;
    height: 2000px;
    background-size: cover;
    margin-top: -720px;
    margin-left: -60px;
    z-index: 0;
}

#head-desc{
    font-weight: lighter;
    position: absolute;
    top: 164px;
    left: 192px;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#head-desc div{
    color: white;
    font-size: 45px;
    font-family: "Cookie";
    letter-spacing: 2px;
    line-height: 1.5; 
    text-align: center;
}

#head-desc .ru{
    font-size: 30px;
    font-family: "Cookie";
    letter-spacing: 0.05em;
    margin-left: 50px;
}

.gaja{
    font-size: 45px;
}

#menu-mobile{
    display: none;
}

#mobile-submenu{
    display: none;
}

#submenu-close{
    height: 30px;
    left: 30px;
    position: relative;
    top: 40px;
    width: 30px;
}

#nav{
    color: black;
    font-size: 1em;
    background-color: white;
    padding: 3px;
}

#background{
    text-align: center;
}

#content{
    width: 96%;
    display: inline-block;
    background-color: rgb(44,141,126);
    margin: 30px 0 0 0;
}

#bottom{
    clear: both;
    position: relative;
    height: 200px;
    text-align: center;
    font-size: 0.5em;
    font-family: "Avenir Light";
    margin: 0;
}

#bottom-images{
    margin-top: 70px;
}

#bottom-images img{
    text-align: center;
}

#bottom-images img{
    display: inline-block;
    height: 55px;
    width: 55px;
}

#language-mobile-main{
    top: 15px;
    font-size: 0.55em;
    left: 100px;
    position: absolute;
    background-color: transparent;
    color: black;
    width: 80px;
}

@media screen and (max-width: 1600px) {
    
    #head-vid > video{
        height: 1200px;
        margin-top: -520px;
    }

}

@media screen and (max-width: 1300px) {
    
    #nav{
        width: 1300px;
    }

}

@media screen and (max-width: 1000px) {
    
    #top{
        margin-left: 0px;
        margin-right: 0px;
    }

    #head-vid{
        margin-left: 0px;
        margin-right: 0px;
    }

    #head-vid > video{
        margin-left: 0px;
    }

}

@media screen and (max-width: 800px) {

    #head-vid{
        margin: 0;
    }

    #head-vid > video{
        margin-top: -500px;
    }

    #top{
        position: fixed;
        top: 0;
        width: 100%;
        height: 210px;
        margin: 5px 0 0 0;
        z-index: 10;
    }

    #head-desc{
        text-align: left;
        left: 140px;
        top: 130px;
    }

    #head-desc div{
        font-size: 28px;
        left: 30%;
        text-align: left;
        top: 21%;
    }

    #head-desc .ru{
        font-size: 16px;
        line-height: 2.2em;
        margin: -10px -10px 0 -50px;
    }

    .gaja{
        font-size: 28px;
    }

    #menu-mobile{
        display: block;
        top: 15px;
        left: 15px;
        position: fixed;
        width: 100%;
        z-index: 11;
    }

    #menu-mobile-icon{
        height: 50px;
        filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(172deg) brightness(99%) contrast(103%);
        width: 50px;
        z-index: 5;
    }

    #mobile-submenu{
        background-color: white;
        color: black;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 60%;
        z-index: 12;
    }

    #mobile-submenu ul{
        font-family: "Avenir Light";
        font-size: 0.8em;
        list-style-type: none;
        margin: 80px 0 10px -20px;
    }

    #mobile-submenu li{
        border-top: 1px solid rgb(44,141,126);
        margin: -25px 0 -25px 0;
        text-decoration: none;
        width: 80%;
    }

    #mobile-submenu li:first-child {
        border-top: none;
    }

    #content {
        margin-top: 220px;
        width: 100%;
    }

    #bottom{
        font-size: 0.55em;
        margin: 15px;
    }

    #bottom-images img{
        height: 60px;
        width: 60px;
    }
}

@media screen and (max-width: 350px) {

    #top{
        height: 180px;
    }

    #head-vid > video{
        height: 1500px;
        object-fit:contain;

        margin-top: -650px;
    }

}