#nav {
    color: rgb(42,124,111);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 550;
    overflow: hidden;
    padding: 10px 0 10px 0;
}

#nav ul {
    list-style-type: none;
    margin: 0 0 0 80px;
    line-height: 20px;
    text-align: center;
}

#nav li {
    float: left;
    display: block;
    text-align: center;
    padding: 4px 12px 4px 12px;
    text-decoration: none;
}

#nav li p{
    padding: 0;
    margin: 0;
}

#nav li:hover {
    cursor: pointer;
}

.lang{
    border: none;
    background-color: white;
    color: rgb(42,124,111);
}

#language {
    color: black;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 5px;
    position: absolute;
    right: 400px;
}


@media screen and (max-width: 1500px) {
    
    #language {
        display: inline;
        margin-left: 100px;
        position: inherit;
    }

}


@media screen and (max-width: 800px) {

    #nav{
        display: none;
    }

    #language-mobile{
        bottom: 20px;
        font-size: 0.8em;
        left: 20px;
        position: absolute;
    }

}
